.ft {
  background-image: url("../img/spritesheet.png");
  background-repeat: no-repeat;
  // display: block;
  display: inline-block;
}

.ft-dribbble {
  width: 35px;
  height: 35px;
  background-position: -5px -5px;
}

.ft-exp-1 {
  width: 49px;
  height: 50px;
  background-position: -50px -5px;
}

.ft-exp-2 {
  width: 50px;
  height: 42px;
  background-position: -109px -5px;
}

.ft-exp-3 {
  width: 28px;
  height: 50px;
  background-position: -169px -5px;
}

.ft-exp-4 {
  width: 50px;
  height: 50px;
  background-position: -207px -5px;
}

.ft-exp-5 {
  width: 41px;
  height: 50px;
  background-position: -267px -5px;
}

.ft-exp-6 {
  width: 50px;
  height: 46px;
  background-position: -5px -65px;
}

.ft-facebook {
  width: 35px;
  height: 35px;
  background-position: -65px -65px;
}

.ft-gplus {
  width: 35px;
  height: 35px;
  background-position: -110px -65px;
}

.ft-instagram {
  width: 35px;
  height: 35px;
  background-position: -155px -65px;
}

.ft-left {
  width: 235px;
  height: 229px;
  background-position: -318px -5px;
}

.ft-map-icon {
  width: 14px;
  height: 19px;
  background-position: -5px -244px;
}

.ft-paper {
  width: 25px;
  height: 25px;
  background-position: -29px -244px;
}

.ft-phone-icon {
  width: 17px;
  height: 17px;
  background-position: -64px -244px;
}

.ft-play-icon {
  width: 100px;
  height: 100px;
  background-position: -91px -244px;
}

.ft-quotes {
  width: 32px;
  height: 26px;
  background-position: -201px -244px;
}

.ft-right-arrow {
  width: 8px;
  height: 13px;
  background-position: -243px -244px;
}

.ft-twitter {
  width: 35px;
  height: 35px;
  background-position: -261px -244px;
}

.ft-youtube {
  width: 35px;
  height: 35px;
  background-position: -306px -244px;
}
